body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
}

.App {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #333;
}

.navbar-left {
  font-size: 1.2rem;
}

.navbar-right {
  margin-right: 2em;
}

.content {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section {
  width: 80%;
  background-color: #1e1e1e;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/** Quotes **/
.quote-block {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.quote-text {
  font-size: 1.5rem;
  font-style: italic;
  color: #333;
}


/** Form **/
.form-container {
  max-width: 600px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  padding: 1em;
 
 
}

.fun-input {
  padding: 10px 15px;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.fun-input:focus {
  border-color: #007BFF;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
  outline: none;
}

.fun-input::placeholder {
  color: #999;
  font-style: italic;
}

.fun-input:hover {
  background-color: #e0e0e0;
}

/* Todos */
.newTodo {
  margin-top: 1em;
} 